mat-form-field {
  width: 80%;
}

mat-card
{
  width : 60%;
  margin-left: 20%;
}
mat-spinner {
  margin: auto;
}
.py-4
{
  background-color: #098ea5;
}
button
{
  width: 20%;
  align-content: center;
  text-align: center; 
  display: block;
  margin: 0 auto;
  height: 50px;
}
