<mat-toolbar class="colourcomponent">
    <span class="titleclass">Handout Donation</span>
    <div class="imgdiv">
        <img src="assets/heart.png" height="50" width="50" style="margin-top: 10px; margin-left: 7px;">
    </div>
    <span class="example-spacer"></span>
  
  <span class="spacer"></span>
 
     
  <ul>
    <li>
        <a  mat-button routerLink="/create" routerLinkActive="mat-accent" routerLink="/dashboard">Dashboard</a>
    </li>
    <li *ngIf="userIsAuthenticated">
        <a  mat-button routerLink="/about" routerLinkActive="mat-accent" routerLink="/about">About</a>
    </li>
    <li *ngIf="userIsAuthenticated">
        <a  mat-button routerLink="/events" routerLinkActive="mat-accent" routerLink="/events">Events</a>
    </li>
    <li *ngIf="userIsAuthenticated">
        <a  mat-button routerLink="/gallery" routerLinkActive="mat-accent" routerLink="/gallery">Gallery</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create Campaign</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
