ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, button {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
.colourcomponent
{
  background-color: black;
}
.titleclass
{
  color: white;
}