
<img  src="/assets/Help.jpg" width = 98%; style="height:650px; margin-left: 18px;"/>
 

<br><br><br><br>



<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/event.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
        <!--Text-->
          <!-- Post title -->
    
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
      <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
        <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-blue btn-md">Join Event</button>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/event-2.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
        <!--Text-->
          <!-- Post title -->
    
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
      <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
        <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-blue btn-md">Join Event</button>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/event-3.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
   <!--Title-->
   <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
   <!--Text-->
     <!-- Post title -->

 <!-- Post data -->
 <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
 <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
   <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
   <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
   <button type="button" class="btn btn-blue btn-md">Join Event</button>

      </div>
  
    </div>
    <!-- Card -->
  
  </div>
  <!-- Card deck -->
  <br><br>
  <!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/event-4.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
       <!--Title-->
       <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
       <!--Text-->
         <!-- Post title -->
   
     <!-- Post data -->
     <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
     <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
       <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
       <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <button type="button" class="btn btn-blue btn-md">Join Event</button>
 
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/cause-5.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
         <!--Title-->
         <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
         <!--Text-->
           <!-- Post title -->
     
       <!-- Post data -->
       <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
       <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
         <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
         <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
         <button type="button" class="btn btn-blue btn-md">Join Event</button>
   
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="assets/event-6.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
       <!--Title-->
       <h4 class="font-weight-bold mb-3"><strong>World Wide Donation</strong></h4>
       <!--Text-->
         <!-- Post title -->
   
     <!-- Post data -->
     <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
     <h6 class="font-weight mb-2"><i class="far fa-map pr-2"></i>Venue Main Campus</h6><br><br>
       <p class="card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
       <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <button type="button" class="btn btn-blue btn-md">Join Event</button>
 
  
      </div>
  
    </div>
    <!-- Card -->
  
  </div>
  <!-- Card deck -->