<div class="row">
    <div class="col-md-12">
  
      <div id="mdb-lightbox-ui"></div>
  
      <div class="mdb-lightbox">
  
        <figure class="col-md-4">
          <a href="assets/cause-2.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_3.jpg" class="img-fluid">
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="assets/image_1.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_1.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="assets/cause-4.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/cause-4.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="assets/cause-5.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/cause-5.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="assets/cause-6.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/cause-6.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="assets/image_1.jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_1.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148).jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_6.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_4.jpg" class="img-fluid" />
          </a>
        </figure>
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
            <img alt="picture" src="assets/image_5.jpg" class="img-fluid" />
          </a>
        </figure>
  
      </div>
  
    </div>
  </div>


  <section class="ftco-section-3 img"  style="background-image: url(assets/bg_3.jpg);" >
    <!-- <img src="assets/bg_3.jpg"/> --> 
    <div class="overlay" ></div>
    <div class="container">
      <div class="row d-md-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-2 align-self-stretch" style="background-image: url(assets/bg_4.jpg);"></div>
      </div>
      <div class="col-md-6 volunteer pl-md-5 ftco-animate" style="background-color: rgb(193, 192, 194);">
        <h3 style="color:white;" class="mb-3">Be a volunteer</h3>
        <form action="#" class="volunter-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" style="color:white;">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email" style="color:white;">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
          </div>
        </form>
      </div>    			
      </div>
    </div>
  </section>