
<div class="hero">
    <img src="assets/cause.jpg" width="100%" height="90%" alt="Helping hand" style="color: aliceblue;">
<div class="hero-overlay">
</div>
</div>

<!-- List of Messages -->
<div class="container">
    <div class="col-md-12 ">
        <h2 class="how-it-work-heading">Our Features</h2>
        <div class="col-md-4  text-center">
            <img src="assets/fund.jpg" class="img-circle img-responsive center-block" style="width: 100px;height: 100px;" alt="Responsive image">
            <p class="hiw-heading">Team Fundraising</p>
            <p class="hiw-subheading">Keep track of contributions and manage your team</p>
        </div>
        <div class="col-md-4  text-center">
            <img src="assets/nonprofit.jpg" class="img-circle img-responsive center-block" style="width: 100px;height: 100px;" alt="Responsive image">
            <p class="hiw-heading">Explore causes</p>
            <p class="hiw-subheading">The stories show that even a modest amount of money can make a difference to those who are less fortunate</p>
        </div>
        <div class="col-md-4  text-center">
            <img src="assets/laptop.jpg" class="img-circle img-responsive center-block" style="width: 100px;height: 100px;" alt="Responsive image">
            <p class="hiw-heading">Quick, Clean & Easy to Use</p>
            <p class="hiw-subheading">Simple Navigation and User Friendly</p>
        </div>
    </div>
  </div>

        <!-- Carousel Effect for Testimonials -->
        <div class="bgstyle-first" [ngStyle]="{'background-image': 'url(' + photo_1 + ')'}">
            <div class="container-fluid padding-0">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1 padding-0" style="background-color: #00000061;padding: 30px 20px;margin-top: 50px;margin-bottom: 50px;">
                        <h2 class="how-it-work-heading" style="color:#fff;margin: 0px 0px 20px;">Here's what people are saying about HandOut Donation</h2>
                        <carousel class="col-md-12">
                            <slide>
                                <div class="carousel-caption text-center">
                                    <img _ngcontent-c1="" alt="Responsive image" class="img-circle img-responsive center-block" src="assets/donationA.jpg" style="width: 100px;height: 100px;">
                                    <p _ngcontent-c1="" class="hiw-heading" style="text-align: center;color: #fff;">Maria Lisden</p>
                                    <p _ngcontent-c1="" class="hiw-subheading" style="text-align: center;color: #fff;">Very easy to use. I have tried similar apps, and this is much more intuitive than most. I will definitely suggest my friends and colleagues to check this out</p>
                                </div>
                            </slide>
                            <slide>
                                <div class="carousel-caption text-center">
                                    <img src="assets/donationB.jpg" class="img-circle img-responsive center-block" style="width: 100px;height: 100px;" alt="Responsive image">
                                    <h3>Keith Zigner</h3>
                                    <p>Beauty in simplicity. This is perfect. No need to search through lifts like other complex apps. Once I name and log a lift it's saved and I can easily find it again and it shows a preview of what I logged last time. No complaints!</p>
                                </div>
                            </slide>
                            <slide>
                                <div class="carousel-caption text-center">
                                    <img src="assets/donationC.jpg" class="img-circle img-responsive center-block" style="width: 100px;height: 100px;" alt="Responsive image">
                                    <h3>Elizabeth Hamilton</h3>
                                    <p>I love it! Easy to use , best app and super powerful for longterm use. Powerful data capture and access for analysis. It works perfectly.</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
          </div>

 <!-- Section: Blog v.2 -->
 

<section style="margin-top: 0px;" class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5" >Top Fundraisers</h2>
    <!-- Section description -->
    <div class="abcd">
    <p class="dark-grey-text w-responsive mx-auto mb-5" style="text-align: bottom; margin-bottom: 10px;">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fa fa-map pr-2"></i>Adventure</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3"><i class="fa fa-graduation-cap pr-2"></i>Education</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          voluptatum deleniti atque corrupti quos dolores.</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3"><i class="fa fa-fire pr-2"></i>Culture</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          quia consequuntur magni dolores eos qui ratione.</p>
        <!-- Read more button -->
        <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
</div>
  </section>
  <!-- Section: Blog v.2 -->
       
