:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
hr
{

  background-color: rgb(201, 201, 201);
  border: 0 none;
  color: rgb(206, 206, 206);
  height: 2px;
  
}
mat-accordion{
  background-color: rgba(255, 255, 255, 0.514);
  background-color: rgba(143, 79, 7, 0.555);
}

span
{
  height: 50px;
  width: 60%;
}

label
{
  font-size: 20px;
  align: center;
  margin-top: 10px;
}
