
<div class="container text-center">
  <div class="donation-interface">
  <h1>Give the Gift of Education</h1>
  <p> 100% of your donation goes towards supporting learners </p><br><br>

  <div class="form-group">
  
    <div class="btn-group btn-group-lg btn-amount-group" role="group" aria-lable="...">
    <button type="button" class="btn btn-amount btn-amount-number">$20</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number" >$50</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number">$100</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number">$500</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number" >$1000</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number">$1500</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-amount btn-amount-number">$2000</button>&nbsp;&nbsp;&nbsp;&nbsp;
    
  </div>
    
    <div id="input-amount">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
        <div class="input-group-addon">USD</div>
      </div>  
    </div>
    
    </div>  
    


 <br><br>
  <a  routerLink="/paypal-payment-checkout" type="button" class="btn btn-give"><span class="btn-text">Paypal</span></a>
 
  </div>

  </div>




